<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="wrapper">

      {% include header.html %}

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              {{content}}
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

      {% include footer.html %}

    </div>
    <!-- /#wrapper -->

    {% include analytics.html %}
    {% include js.html %}

  </body>

</html>
